.Rproj.user
.Rhistory
.RData
AMP-AD_ROSMAP_Rush-Broad_AffymetrixGenechip6.fam
AMP-AD_ROSMAP_Rush-Broad_AffymetrixGenechip6.bed
AMP-AD_ROSMAP_Rush-Broad_AffymetrixGenechip6.bim
.DS_Store
AMP-AD_Emory_Emory_Covariates.csv
UFL-Mayo-ISB/MayoEGWASanalyses/
AMP-AD_MayoEGWAS_UFL-Mayo-ISB_IlluminaWholeGenomeDASL_TemporalCortex.csv
AMP-AD_MayoEGWAS_UFL-Mayo-ISB_IlluminaWholeGenomeDASL_TemporalCortex_Covariates.csv
AMP-AD_MayoEGWAS_UFL-Mayo-ISB_IlluminaWholeGenomeDASL_TemporalCortex_Covariates_Updated.csv
AMP-AD_MayoEGWAS_UFL-Mayo-ISB_IlluminaWholeGenomeDASL_TemporalCortex_Updated.csv
AMP-AD_HBTRC_MSSM_IlluminaHumanHap650Y_chunk1_chr1_dose.gz
AMP-AD_TAUAPPms_UFL-Mayo-ISB_IlluminaHiSeq2000_Tau_Covariates.csv
AMP-AD_TAUAPPms_UFL-Mayo-ISB_IlluminaHiSeq2000_Tau_GeneCounts_Transposed.txt.gz
tauUpdateMay2015.R
data1.csv
data2.csv
